name: SIRC Tiledit

# TODO: Only run when sirc-tiledit directory has changes
on:
  workflow_call:

defaults:
  run:
    working-directory: ./sirc-tiledit

jobs:
  sirc-vm:
    uses: ./.github/workflows/sirc-vm.yml
  build:
    name: sirc-tiledit - Quality Checks
    runs-on: ubuntu-latest
    needs: [sirc-vm]
    container:
      image: ghcr.io/noxharmonium/sirc-tiledit-build:main
      options: --user root

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: libsirc
          path: /
      - name: Set ownership
        run: |
          # Workaround for https://github.com/actions/runner/issues/2033
          chown -R $(id -u):$(id -g) $PWD
          git config --global --add safe.directory /__w/sirc/sirc
      - name: Configure Project
        run: |
          find /usr/local/ -name "*libsirc*"
          meson --version
          meson setup -Db_coverage=true --buildtype debug build-debug/
      - name: Compile Project (Debug)
        run: |
          cd build-debug
          meson compile -v
      - name: Test Project
        run: |
          cd build-debug
          meson test --print-errorlogs
          ninja coverage-xml
      - name: Archive test coverage
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: codecov-tiledit
          path: |
            ./sirc-tiledit/build-debug/meson-logs/coverage.xml
            ./sirc-tiledit/libs/shared/tests/resources/*actual*.png
          if-no-files-found: error
      - name: Lint Project
        run: |
          cd build-debug
          clang-tidy --version
          ninja clang-tidy
          clang-format --version
          ninja clang-format-check

  build-release:
    name: sirc-tiledit - Build Release
    runs-on: ubuntu-latest
    needs: [build]
    container:
      image: ghcr.io/noxharmonium/sirc-tiledit-build:main
      options: --user root

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: libsirc
          path: /
      - name: Set ownership
        run: |
          # Workaround for https://github.com/actions/runner/issues/2033
          chown -R $(id -u):$(id -g) $PWD
          git config --global --add safe.directory /__w/sirc/sirc
      - name: Configure Project
        run: |
          find /usr/local/ -name "*libsirc*"
          meson --version
          meson setup  -Db_lto=true --buildtype release build-release/
      - name: Compile Project (Release)
        run: |
          cd build-release
          meson compile -v
      # The results won't be very useful but it will ensure the benchmarks still compile and run
      - name: Run Benchmark (Release)
        run: |
          cd build-release
          ninja benchmark
      - name: Create release
        run: |
          cd build-release
          git status
          meson dist
      - name: Archive release
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: build artifacts
          path: ./sirc-tiledit/build-release/meson-dist/*
          if-no-files-found: error
