name: SIRC VM

on:
  workflow_call:

defaults:
  run:
    working-directory: ./sirc-vm

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "--deny warnings"

jobs:
  build:
    name: sirc-vm - Build libsirc
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-c@0.10.19+cargo-0.93.0

      - name: Generate libsirc
        run: cargo cinstall --meson-paths --prefix=/usr/local --destdir=./libsirc-out --verbose

      - uses: actions/upload-artifact@v6
        with:
          name: libsirc
          path: ./sirc-vm/libsirc-out
          if-no-files-found: error
  lint:
    name: sirc-vm - Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      # Not really linting but we should check that all targets build in release
      - name: Build
        run: cargo build --verbose --release --all-targets --all-features --workspace

      - name: Clippy
        run: cargo clippy --verbose --release --all-targets --all-features --workspace -- -D warnings

      - name: Formatting
        run: cargo fmt --all -- --check

  test:
    name: sirc-vm - Run Tests (nightly)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest

      # TODO: Include doc tests in coverage once it is stabilised
      # https://github.com/taiki-e/cargo-llvm-cov/issues/2
      - name: Run nextest
        run: cargo +nightly llvm-cov --verbose --all-targets --all-features --workspace --no-report nextest
      - name: Run doctests
        run: cargo +nightly llvm-cov --verbose --all-features --workspace --no-report --doc
      - name: Generate coverage file
        run: cargo +nightly llvm-cov report --doctests --codecov --output-path codecov-main.json

      - uses: actions/upload-artifact@v6
        with:
          name: codecov-main
          path: ./sirc-vm/codecov-main.json
          if-no-files-found: error

  examples:
    name: sirc-vm - Examples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example-name:
          [
            "basic-video",
            "boring",
            "byte-sieve",
            "faults",
            "hardware-exception",
            "software-exception",
            "store-load",
          ]

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run ${{ matrix.example-name }} and capture coverage
        run: |
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          source <(cargo llvm-cov --manifest-path=../../sirc-vm/Cargo.toml show-env --export-prefix)
          make clean check
          cargo llvm-cov --manifest-path=../../sirc-vm/Cargo.toml report --codecov --output-path codecov-${{ matrix.example-name }}.json
        working-directory: ./examples/${{ matrix.example-name }}

      - uses: actions/upload-artifact@v6
        with:
          name: codecov-${{ matrix.example-name }}
          path: ./examples/${{ matrix.example-name }}/codecov-${{ matrix.example-name }}.json
          if-no-files-found: error
